body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.main.menu .item img.logo {
  margin-right: 1.5em;
  width: 4em;
}

.main.menu .item .github.icon {
  font-size: 1.5em;
}

#facetsContainer {
    display: none;              /* container initially hidden */
    flex-direction: row;        /* children lay out in a row */
    gap: 10px;                  /* space between the children */
    align-items: center;        /* vertically align the children in the center */
}

/* to give a specific width to the facets */
#leftFacet, #rightFacet {
    width: 150px;               /* width */
    height: auto;               /* adjust based on content or set a fixed height if needed */
    overflow-y: auto;           /* add scroll if the content is longer than the container */
}

#okButton {
    /* display: none; */
    padding: 5px 15px;          /* padding */
}
