body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

#queryContainer{
  margin-top: 2em;
}

.nl-results-viewer-container {
  margin: 2rem 0;
  display: flex !important;
}
