#queryContainer .CodeMirror{
    height: 20em;
    width: 100%;
}

#queryContainer .query-segment {
    padding: 0;
}

#queryAlert {
    display: none;
}

#queryAlert .nl-query-message {
    margin: 0;
}