#queryContainer .CodeMirror{
    height: 15em;
    resize: vertical;
    overflow: auto !important;
    border: 1px solid silver;
}

/* #queryTextArea + .CodeMirror {
    height: 200px;
    min-height:100px;
    resize: vertical;
    overflow: auto !important;
}

#queryTextArea + .CodeMirror pre {
    padding-bottom: .7em;
} */