.nl-papaya-container {
    display: none;
    width: 50%;
}

.nl-papaya-alert {
    margin: .5em !important;
    display: none;
}

.nl-colorbar-container {
    position: relative;
    top: -19.5%;
    width: 25%;
    right: -65%;
}