.nl-results-container {
    display: none;
    transition: width .5s;
    width: 100%;
}

.nl-results-container .nl-results-tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nl-results-container .nl-results-tabs .item:not(.active) {
    cursor: pointer;
}

.nl-results-container .tab-content {
    padding: 1em;
    border: 1px solid #dee2e6;
    border-top: none;
}

.nl-vbr-overlay-controls .ui.button.nl-overlay-control {
    display: none;
    margin-left: .5em;
}

.nl-vbr-overlay-controls.displayed .ui.button.nl-overlay-control {
    display: inline-block;
}

#nlHistogramContainer {
    width: 400px;
    height: 400px;
    /* padding: 0; */
}

/* .nl-vbr-overlay-center.ui.button {
    margin-left: .5em;
    display: none;
}

.nl-vbr-overlay-switch.active + button.nl-vbr-overlay-center.ui.button {
    display: inline-block;
} */